<a href="https://colab.research.google.com/github/kshiroky/ML/blob/main/mini_task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from ast import literal_eval
import sys
import requests
import pandas as pd
import warnings
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
z = "/content/drive/MyDrive/DiZyme_jan2022.csv"
data = pd.read_csv(z, header = 0, delimiter = ',')
data

,formula,activity,surface,Km,Kcat,Vmax,Syngony,length,width,depth,...,temp,Cper,Csub,Ccat,Dstr,mX,mROx,mCD,volume,link
0,CoFe2O4,peroxidase,naked,0.00645,12 306.4508003,1.3763,7.0,4.1,4.1,4.1,...,37.0,100.0,15.0,0.02624,3.0,2.77,-0.1585,0.0304,68.92,https://doi.org/10.1039/C4RA15675G
1,CoFe2O4,peroxidase,naked,0.05537,2 363.2892149,0.2643,7.0,13.8,13.8,13.8,...,37.0,100.0,15.0,0.02624,3.0,2.77,-0.1585,0.0304,2628.07,https://doi.org/10.1039/C4RA15675G
2,CoFe2O4,peroxidase,naked,0.03551,74 779.3708079,8.3630,7.0,4.1,4.1,4.1,...,37.0,100.0,15.0,0.02624,3.0,2.77,-0.1585,0.0304,68.92,https://doi.org/10.1039/C4RA15675G
3,CoFe2O4,peroxidase,naked,0.22769,3 918.2494665,0.4382,7.0,13.8,13.8,13.8,...,37.0,100.0,15.0,0.02624,3.0,2.77,-0.1585,0.0304,2628.07,https://doi.org/10.1039/C4RA15675G
4,CoFe2O4,peroxidase,naked,0.01725,9 184.9060976,1.0272,7.0,24.5,24.5,24.5,...,37.0,100.0,15.0,0.02624,3.0,2.77,-0.1585,0.0304,14706.13,https://doi.org/10.1039/C4RA15675G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
predictors = pd.DataFrame(data.drop(["Km", "Kcat", "Vmax"], axis=1))
y = pd.DataFrame(data[["Km", "Kcat", "Vmax"]])

In [ ]:
correl = predictors.corr(method='pearson')
correl

In [ ]:
n = correl.columns
a = []
b = []
for i in range(0, len(n)-1):
    for j in range(0, len(n)-1):
        if i!=j:
          if correl.iat[i,j] > 0.9:
            a.append(i)
            b.append(j)
            print(n[i],n[j])
          else:
            continue
          c = sorted(b)
        else:
          continue
print(a, c)
for i in range(len(a)-1):
  if a[i] == c[i]:
    if len(a)==2:
      n = correl.columns
      predictors_without_correl = predictors.drop([n[a[1]]], axis=1)
print(predictors_without_correl)

In [ ]:
x = predictors_without_correl.dropna()
x

In [ ]:
# Вопрос к собратьям:
# Как сделать такую функцию : Если NaN встречается в строке больше раз чем половина количества предикторов в строке, удалить эту строчку.
# ответ от коллеги: df.col.dropna(thresh = n), n = len(pred)/2

In [ ]:
#[dtype('O'), dtype('float64')]
nn = x.columns
c = []
d = []
result = list(x.dtypes)
for i in range(0, len(nn)-1):
  if result[i] == 'O':
    c.append(i)
  elif result[i] == 'float64':
    d.append(i)
print(c,d)

[0, 1, 2, 8] [3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [ ]:
object_datasetl = x
for i in range(0,len(d)):
    object_datasetl = pd.DataFrame(object_datasetl.drop([nn[d[i]]], axis=1))
object_dataset = object_datasetl.drop(["link"], axis=1)
print(object_dataset)

     formula    activity surface Subtype
0    CoFe2O4  peroxidase   naked     TMB
1    CoFe2O4  peroxidase   naked     TMB
2    CoFe2O4  peroxidase   naked     TMB
3    CoFe2O4  peroxidase   naked     TMB
4    CoFe2O4  peroxidase   naked    H2O2
..       ...         ...     ...     ...
298    Mn3O4    catalase   naked    H2O2
299    Mn3O4    catalase   naked    H2O2
300    Mn3O4    catalase   naked    H2O2
301    Mn3O4    catalase   naked    H2O2
302     RuO2    catalase   naked    H2O2

[303 rows x 4 columns]

In [ ]:
object_dataset

In [ ]:
def indexer(column, name_of_col = 'smth'):
    try: 
        for i in column.tolist(): float(i)
        pass
    except:
        if type(column) == type(pd.Series()) or type(column) == type(pd.DataFrame()):
            col_dc = {}
            uniq_ls = column.unique()
            for k in range(len(uniq_ls)): col_dc[uniq_ls[k]] = k
            col_list = column.tolist()
            for key, value in col_dc.items(): 
                for k in range(len(col_list)): col_list[k] = value if col_list[k]  == key else col_list[k]
            col_ser = pd.Series(col_list, name= f'{name_of_col}_id')
            return col_ser
        else:
            print('this is not pandas series')
            print(type(column))

In [ ]:
l = object_dataset.columns
my_series = object_dataset[[l[0]]].squeeze()

object_column_to_int = indexer(my_series)
object_dataframe = pd.DataFrame(object_column_to_int)
for i in range(1,len(l)):
    my_series = object_dataset[[l[i]]].squeeze()
    object_column_to_int = pd.DataFrame(indexer(my_series, l[i]))
    object_dataframe = object_dataframe.merge(object_column_to_int, left_index = True, right_index = True)
object_dataframe

In [ ]:
float_datasetl = x
for i in range(0,len(c)):
    float_datasetl = pd.DataFrame(float_datasetl.drop([nn[c[i]]], axis=1))
float_dataset = pd.DataFrame(float_datasetl.drop(["link"], axis=1))
print(float_dataset)

In [ ]:
# корреляционная матрица
float_dataset.corr(method='pearson')

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10, svd_solver='auto')
float_dataset_pca = pd.DataFrame(pca.fit(float_dataset).transform(float_dataset))

In [ ]:
float_dataset_pca

In [ ]:
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [ ]:
plt.plot(float_dataset_pca[:100, 0], float_dataset_pca[:100, 1], 'o', markerfacecolor='red', markeredgecolor='k', markersize=8)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [ ]:
result = object_dataset.merge(float_dataset_pca, left_index = True, right_index = True)
result

In [ ]:
result.iloc[]